SEDESOL.UI/Service References/SedesolService/SedesolService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.IntegrationObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.IntegrationObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50420/SedesolService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" />
  <xs:complexType name="CaptureParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="Folio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InspectionCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="Months" nillable="true" type="q1:ArrayOfMonthDTO" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="SoapKitchens" nillable="true" type="q2:ArrayOfSoupKitchenDTO" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="Years" nillable="true" type="q3:ArrayOfYearDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaptureParam" nillable="true" type="tns:CaptureParam" />
  <xs:complexType name="CodeParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_Month" type="xs:int" />
      <xs:element minOccurs="0" name="Id_User" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Year" type="xs:int" />
      <xs:element minOccurs="0" name="InspectionCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="ListCode" nillable="true" type="q4:ArrayOfInspectionCodeDTO" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="Months" nillable="true" type="q5:ArrayOfMonthDTO" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="Years" nillable="true" type="q6:ArrayOfYearDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CodeParam" nillable="true" type="tns:CodeParam" />
  <xs:complexType name="UserValidationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserValidationRequest" nillable="true" type="tns:UserValidationRequest" />
  <xs:complexType name="GencodeDayParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="Day" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Month" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Year" type="xs:int" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="MonthDto" nillable="true" type="q7:MonthDTO" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="Months" nillable="true" type="q8:ArrayOfMonthDTO" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="YearDto" nillable="true" type="q9:YearDTO" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="Years" nillable="true" type="q10:ArrayOfYearDTO" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="listGencodeDayDTO" nillable="true" type="q11:ArrayOfGencodeDayDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GencodeDayParam" nillable="true" type="tns:GencodeDayParam" />
  <xs:complexType name="RationModel">
    <xs:sequence>
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="ListMonth" nillable="true" type="q12:ArrayOfMonthDTO" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="ListRation" nillable="true" type="q13:ArrayOfRationDTO" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="ListState" nillable="true" type="q14:ArrayOfStateDTO" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="ListYear" nillable="true" type="q15:ArrayOfYearDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RationModel" nillable="true" type="tns:RationModel" />
  <xs:complexType name="CouponModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Coupon_Folio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Folio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Coupon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Region" type="xs:int" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="ListProduct" nillable="true" type="q16:ArrayOfProductDTO" />
      <xs:element minOccurs="0" name="Month" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RationQuantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoupKitchen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CouponModel" nillable="true" type="tns:CouponModel" />
  <xs:complexType name="ArrayOfCouponModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CouponModel" nillable="true" type="tns:CouponModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCouponModel" nillable="true" type="tns:ArrayOfCouponModel" />
</xs:schema>