SEDESOL.UI/Service References/SedesolService/SedesolService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50420/SedesolService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" />
  <xs:import schemaLocation="http://localhost:50420/SedesolService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.IntegrationObjects" />
  <xs:element name="GetCaptures">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapturesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetCapturesResult" nillable="true" type="q1:ArrayOfCaptureDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapturesSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="pState" type="xs:int" />
        <xs:element minOccurs="0" name="pSoupK" type="xs:int" />
        <xs:element minOccurs="0" name="pStatus" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapturesSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetCapturesSearchResult" nillable="true" type="q2:ArrayOfCaptureDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapturesFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapturesFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetCapturesFilterResult" nillable="true" type="q3:ArrayOfCaptureDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateCapture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateCaptureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateCapture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateCaptureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCapture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="capture" nillable="true" type="q4:CaptureDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCaptureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="SaveCaptureResult" nillable="true" type="q5:CaptureDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCapture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="capture" nillable="true" type="q6:CaptureDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCaptureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCaptureResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaptureById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaptureByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetCaptureByIdResult" nillable="true" type="q7:CaptureDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCaptureImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="dto" nillable="true" type="q8:CaptureImageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCaptureImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCaptureImageResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCaptureImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCaptureImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCaptureImageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageByCaptureId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCaptureId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageByCaptureIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetImageByCaptureIdResult" nillable="true" type="q9:ArrayOfCaptureImageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodesByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodesByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetCodesByUserIdResult" nillable="true" type="q10:ArrayOfInspectionCodeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendToApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="dto" nillable="true" type="q11:CaptureApprovalDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendToApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendToApprovalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParamCapture">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParamCaptureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.IntegrationObjects" minOccurs="0" name="GetParamCaptureResult" nillable="true" type="q12:CaptureParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idStatus" type="xs:int" />
        <xs:element minOccurs="0" name="idCapture" type="xs:int" />
        <xs:element minOccurs="0" name="idUserType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetStatesResult" nillable="true" type="q13:ArrayOfStateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatesFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatesFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetStatesFilterResult" nillable="true" type="q14:ArrayOfStateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetStatusResult" nillable="true" type="q15:ArrayOfStatusDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYears">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetYearsResult" nillable="true" type="q16:ArrayOfYearDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonths">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonthsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetMonthsResult" nillable="true" type="q17:ArrayOfMonthDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="dto" nillable="true" type="q18:StateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="dto" nillable="true" type="q19:StatusDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="dto" nillable="true" type="q20:YearDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateYearResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="dto" nillable="true" type="q21:MonthDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMonthResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateYearResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateYear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateYearResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateMonthResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateMonthResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParamCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParamCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.IntegrationObjects" minOccurs="0" name="GetParamCodeResult" nillable="true" type="q22:CodeParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetActiveStatesResult" nillable="true" type="q23:ArrayOfStateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveCondition">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetActiveConditionResult" nillable="true" type="q24:ArrayOfConditionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveRegions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveRegionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetActiveRegionsResult" nillable="true" type="q25:ArrayOfRegionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttendance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="dto" nillable="true" type="q26:AttendanceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttendanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="SaveAttendanceResult" nillable="true" type="q27:AttendanceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetAttendanceByIdResult" nillable="true" type="q28:AttendanceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttendance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAttendanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAttendanceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataForAc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataForAcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetDataForAcResult" nillable="true" type="q29:ArrayOfAttendanceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCaptureId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAttendanceReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaptureReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="filters" nillable="true" type="q30:ArrayOfFilterDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaptureReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCaptureReportResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoupKitchenByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoupKitchenByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetSoupKitchenByUserResult" nillable="true" type="q31:ArrayOfSoupKitchenDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.IntegrationObjects" minOccurs="0" name="req" nillable="true" type="q32:UserValidationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="ValidateUserResult" nillable="true" type="q33:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSoupKitchen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="dto" nillable="true" type="q34:SoupKitchenDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSoupKitchenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="SaveSoupKitchenResult" nillable="true" type="q35:SoupKitchenDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoupKitchenAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoupKitchenAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetSoupKitchenAllResult" nillable="true" type="q36:ArrayOfSoupKitchenDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoupKitchenToAssignUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoupKitchenToAssignUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetSoupKitchenToAssignUserResult" nillable="true" type="q37:ArrayOfSoupKitchenDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSKAssignedUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSKAssignedUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetSKAssignedUserResult" nillable="true" type="q38:ArrayOfSoupKitchenDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoupKitchenById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoupKitchenByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetSoupKitchenByIdResult" nillable="true" type="q39:SoupKitchenDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deactivate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Activate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTypeBySKId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTypeBySKIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetUserTypeBySKIdResult" nillable="true" type="q40:ArrayOfSkUserTypeDTOcs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserTypeSk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserTypeSkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserTypeSkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="dto" nillable="true" type="q41:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="SaveUserResult" nillable="true" type="q42:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetUserAllResult" nillable="true" type="q43:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetUserByIdResult" nillable="true" type="q44:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTypeAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTypeAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetUserTypeAllResult" nillable="true" type="q45:ArrayOfUserTypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTypeApproval">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTypeApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetUserTypeApprovalResult" nillable="true" type="q46:ArrayOfUserTypeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserTypeSK">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="dto" nillable="true" type="q47:SkUserTypeDTOcs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserTypeSKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="SaveUserTypeSKResult" nillable="true" type="q48:SkUserTypeDTOcs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserSoupKitchen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="dto" nillable="true" type="q49:UserSoupKitchen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserSoupKitchenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="SaveUserSoupKitchenResult" nillable="true" type="q50:UserSoupKitchen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserSoupKitchen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSk" type="xs:int" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserSoupKitchenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserSoupKitchenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInspectionCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="dto" nillable="true" type="q51:InspectionCodeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInspectionCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="SaveInspectionCodeResult" nillable="true" type="q52:InspectionCodeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenerationCodeDayAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenerationCodeDayAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetGenerationCodeDayAllResult" nillable="true" type="q53:ArrayOfGencodeDayDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGencodeDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="dto" nillable="true" type="q54:GencodeDayDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGencodeDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="SaveGencodeDayResult" nillable="true" type="q55:GencodeDayDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenerationCodeDayById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenerationCodeDayByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetGenerationCodeDayByIdResult" nillable="true" type="q56:GencodeDayDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParamGen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParamGenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.IntegrationObjects" minOccurs="0" name="GetParamGenResult" nillable="true" type="q57:GencodeDayParam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovalByCaptureId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="captureId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApprovalByCaptureIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetApprovalByCaptureIdResult" nillable="true" type="q58:ArrayOfCaptureApprovalDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetProductAllResult" nillable="true" type="q59:ArrayOfProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProduct" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetProductByIdResult" nillable="true" type="q60:ProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="prodDto" nillable="true" type="q61:ProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="SaveProductResult" nillable="true" type="q62:ProductDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRationSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pYear" type="xs:int" />
        <xs:element minOccurs="0" name="pMonth" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRationSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.IntegrationObjects" minOccurs="0" name="GetRationSearchResult" nillable="true" type="q63:RationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveRationsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCouponData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdRation" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCouponDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.IntegrationObjects" minOccurs="0" name="GetCouponDataResult" nillable="true" type="q64:CouponModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCouponDataByState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdState" type="xs:int" />
        <xs:element minOccurs="0" name="pIdYear" type="xs:int" />
        <xs:element minOccurs="0" name="pIdMonth" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCouponDataByStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.IntegrationObjects" minOccurs="0" name="GetCouponDataByStateResult" nillable="true" type="q65:ArrayOfCouponModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataExcel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdState" type="xs:int" />
        <xs:element minOccurs="0" name="pIdMonth" type="xs:int" />
        <xs:element minOccurs="0" name="pIdYear" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataExcelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataExcelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/SEDESOL.DataEntities.DTO" minOccurs="0" name="GetConfigurationResult" nillable="true" type="q66:ArrayOfConfigurationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>